h1{
    background-color:white;
    text-align:center;
    color:rgb(0, 130, 255);
    text-align: center;
    border: none;
    border-width: medium;
    border-radius: 20px;
    margin-left: 0;
    margin-right: 30%;
    margin-top: 0px;
    padding-top: 30px;
    font-size:300%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:100px;
    width:100%;
    background-color: black;
    
}
.container{
    font-family:'Times New Roman',Arial, Helvetica, sans-serif;
    text-align: left;
    /* border: solid ; */
    border-width:medium;
    border-color:rgb(0, 130, 255);
    margin:auto;
    display: flex;
    width: 80%;
    height: 80%;
}
.left, .right {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
    margin:auto;
    text-align: justify;
}
.right{
    margin-top:50px;
}
h2{
    font-size:x-large;
    margin-bottom: 1%;
    display:flex;
    font-weight:lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div{
    display:block;
}
fieldset{
    border: 2px solid rgb(142, 195, 245);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(197, 242, 247);
}
.form-question{
    font-display:auto ;
    font-family: Verdana, Sans-serif, Arial;
    font-size: medium;
    font-weight: bold;
    margin-inline-start: 20px;
    color: #403d3d;
    margin-top:10px;
}
.form-group{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.form-group input:focus {
    border-color: rgb(0, 130, 255);
    outline:none;
}
.Gender{
    display: inline;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
#Gender-pria{
    margin-inline-start:200px;
}
#Pria, #Wanita{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-weight:700;
}
#Weight{
    margin-inline-start:150px;
    width:190px ;
    height:25px ;    
}
#Height{
    margin-inline-start:142px;
    width:190px ;
    height:25px ;  
}
#Age{
    margin-inline-start:209px;
    width:190px ;
    height:25px ;  
}
.button{
    display:inline-block;
    margin-top: 5px;
    border-radius: 2px;
    width: 15%;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: rgb(55, 130, 255);
    color: white;
    font-size: 20;
    transition: 0.4s;
}
#Hitung-button{
    margin-inline-start: 285px;
    width: 20%;
}
#Reset-button{
    margin-inline-start: 15px;
}
.button:hover {
    background-color: #04AA6D;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.button:active {
    background-color: #3e758e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }